:root {
  --text-color: #464646;
  --hr-color: #BBBBBB;
}

body {
  font-family: "Lato", Helvetica, sans-serif;
  line-height: 1.6;
  color: var(--text-color);
}

.all-content {
  max-width: 40em;
  margin: auto;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  margin-top: 1.25em;
  margin-bottom: 0.50em;
}

p {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

a:link {
  color: SteelBlue;
}

a:visited {
  color: DarkSlateGrey;
}

a:hover {
  color: Black;
}

hr {
  border: 0.075em solid var(--hr-color);
  margin-top: 1em;
  margin-bottom: 1.75em;
}

.contact-links {
  margin: auto;
  text-align: center;
}

.contact-link {
  font-family: "Lato", monospace;
  font-size: 0.95em;
  letter-spacing: -0.025em;
  margin-left: 0.75em;
  margin-right: 0.75em;
}
