:root {
  --h1-color: #7b7b7b;
  --text-color: #474747;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  color: var(--text-color);
  text-rendering: optimizeLegibility;
}

.all-content {
  max-width: 40em;
  margin: auto;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-variant: small-caps;
  font-size: 3.0rem;
  text-align: center;
  margin-top: 1.25em;
  margin-bottom: 0.50em;
  color: var(--h1-color);
}

p {
  font-size: 1.1rem;
}

a {
  text-decoration: none;
}

a:link {
  color: SteelBlue;
}

a:visited {
  color: DarkSlateGrey;
}

a:hover {
  color: Black;
}

hr {
  border: 0.05em solid var(--h1-color);
  margin-top: 1em;
  margin-bottom: 1.75em;
}

.contact-links {
  margin: auto;
  text-align: center;
}

.contact-link {
  font-family: 'JetBrains Mono', monospace;
  font-size: 0.90em;
  margin-left: 0.75em;
  margin-right: 0.75em;
}
